.MenuBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  button {
    background: none;
    border: none;
    padding: 8px 14px;
    color: #000000;

    svg {
      width: 16px;
      height: 16px;
      stroke-width: 1;
    }

    &:hover {
      color: #00000089;
    }
  }

  .CloseBtn {
    color: #525252;

    &:hover {
      color: #fff;
      background-color: #e00000;
    }
  }
}

.AppControls {
  display: none;
}

@media screen and (max-width: 300px) {
  .MenuBar {
    justify-content: flex-end;

    .StorageControls {
      display: none;
    }
  }
}
