.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: url("images/bg-4-upscale.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.Content {
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 24px;
  gap: 1em;
}

@media (max-width: 600px) {
  .Content {
    padding: 16px;
  }
}
